vendor
.dccache

# OS specific
.DS_Store
**/.DS_Store

# Ruby
/image-preset-builder/ruby/.bundle/
/image-preset-builder/ruby/.yardoc
/image-preset-builder/ruby/_yardoc/
/image-preset-builder/ruby/coverage/
/image-preset-builder/ruby/doc/
/image-preset-builder/ruby/pkg/
/image-preset-builder/ruby/spec/reports/
/image-preset-builder/ruby/tmp/
/image-preset-builder/ruby/bin/

#Swift
/image-preset-builder/swift/.build
/image-preset-builder/swift/Packages
/image-preset-builder/swift/*.xcodeproj
/image-preset-builder/swift/xcuserdata/
/image-preset-builder/swift/DerivedData/
/image-preset-builder/swift/.swiftpm/config/registries.json
/image-preset-builder/swift/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/image-preset-builder/swift/.netrc

#Python
image-preset-builder/python/__pycache__/
image-preset-builder/python/*.py[cod]
image-preset-builder/python/*$py.class
image-preset-builder/python/*.so
image-preset-builder/python/.Python
image-preset-builder/python/build/
image-preset-builder/python/develop-eggs/
image-preset-builder/python/dist/
image-preset-builder/python/downloads/
image-preset-builder/python/eggs/
image-preset-builder/python/.eggs/
image-preset-builder/python/lib/
image-preset-builder/python/lib64/
image-preset-builder/python/parts/
image-preset-builder/python/sdist/
image-preset-builder/python/var/
image-preset-builder/python/wheels/
image-preset-builder/python/share/python-wheels/
image-preset-builder/python/*.egg-info/
image-preset-builder/python/.installed.cfg
image-preset-builder/python/*.egg
image-preset-builder/python/MANIFEST
image-preset-builder/python/*.manifest
image-preset-builder/python/*.spec
image-preset-builder/python/pip-log.txt
image-preset-builder/python/pip-delete-this-directory.txt
image-preset-builder/python/htmlcov/
image-preset-builder/python/.tox/
image-preset-builder/python/.nox/
image-preset-builder/python/.coverage
image-preset-builder/python/.coverage.*
image-preset-builder/python/.cache
image-preset-builder/python/nosetests.xml
image-preset-builder/python/coverage.xml
image-preset-builder/python/*.cover
image-preset-builder/python/*.py,cover
image-preset-builder/python/.hypothesis/
image-preset-builder/python/.pytest_cache/
image-preset-builder/python/cover/
image-preset-builder/python/*.mo
image-preset-builder/python/*.pot
image-preset-builder/python/*.log
image-preset-builder/python/local_settings.py
image-preset-builder/python/db.sqlite3
image-preset-builder/python/db.sqlite3-journal
image-preset-builder/python/instance/
image-preset-builder/python/.webassets-cache
image-preset-builder/python/.scrapy
image-preset-builder/python/docs/_build/
image-preset-builder/python/.pybuilder/
image-preset-builder/python/target/
image-preset-builder/python/.ipynb_checkpoints
image-preset-builder/python/profile_default/
image-preset-builder/python/ipython_config.py
image-preset-builder/python/__pypackages__/
image-preset-builder/python/celerybeat-schedule
image-preset-builder/python/celerybeat.pid
image-preset-builder/python/*.sage.py
image-preset-builder/python/.env
image-preset-builder/python/.venv
image-preset-builder/python/env/
image-preset-builder/python/venv/
image-preset-builder/python/ENV/
image-preset-builder/python/env.bak/
image-preset-builder/python/venv.bak/
image-preset-builder/python/.spyderproject
image-preset-builder/python/.spyproject
image-preset-builder/python/.ropeproject
image-preset-builder/python//site
image-preset-builder/python/.mypy_cache/
image-preset-builder/python/.dmypy.json
image-preset-builder/python/dmypy.json
image-preset-builder/python/.pyre/
image-preset-builder/python/.pytype/
image-preset-builder/python/cython_debug/

#dart
image-preset-builder/dart/*.class
image-preset-builder/dart/*.log
image-preset-builder/dart/*.pyc
image-preset-builder/dart/*.swp
image-preset-builder/dart/.DS_Store
image-preset-builder/dart/.atom/
image-preset-builder/dart/.buildlog/
image-preset-builder/dart/.history
image-preset-builder/dart/.svn/
image-preset-builder/dart/migrate_working_dir/
image-preset-builder/dart/*.iml
image-preset-builder/dart/*.ipr
image-preset-builder/dart/*.iws
image-preset-builder/dart/.idea/
image-preset-builder/dart//pubspec.lock
image-preset-builder/dart/**/doc/api/
image-preset-builder/dart/.dart_tool/
image-preset-builder/dart/.packages
image-preset-builder/dart/build/
