vendor
.dccache

# OS specific
.DS_Store
**/.DS_Store

# Ruby
/image-preset-builder/ruby/.bundle/
/image-preset-builder/ruby/.yardoc
/image-preset-builder/ruby/_yardoc/
/image-preset-builder/ruby/coverage/
/image-preset-builder/ruby/doc/
/image-preset-builder/ruby/pkg/
/image-preset-builder/ruby/spec/reports/
/image-preset-builder/ruby/tmp/
/image-preset-builder/ruby/bin/